@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
* { font-family: "pretendard", sans-serif; }

body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

ul, ol, li, dl {
  list-style: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .inner {
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 1440px;
  }

  @keyframes toastTop {
    0% {
      display: none;
      opacity: 0;
      transform: translate3d(0,-100%,0);
    }
    100% {
      display: block;
      opacity: 1;
      margin-top: 20px;
      transform: translate3d(0,0,0);
    }
  }

  .toast-provider { 
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }

  .toast {
    animation: toastTop .5s ease-in-out .2s 1 forwards;
    transform: translate3d(0,-100%,0);
    min-width: 320px;
    position: relative;
    width: fit-content;
  }
}


/* 웹폰트 CSS */
@font-face { font-family:"pretendard"; src:url("../assets/fonts/Pretendard-Black.ttf"); }
@font-face { font-family:"pretendard"; src:url("../assets/fonts/Pretendard-Black.woff"); }

@font-face { font-family:"pretendard"; src:url("../assets/fonts/Pretendard-Bold.ttf"); font-weight: 700; }
@font-face { font-family:"pretendard"; src:url("../assets/fonts/Pretendard-Bold.woff"); font-weight: 700; }

@font-face { font-family:"pretendard"; src:url("../assets/fonts/Pretendard-ExtraBold.ttf") }
@font-face { font-family:"pretendard"; src:url("../assets/fonts/Pretendard-ExtraBold.woff") }

@font-face { font-family:"pretendard"; src:url("../assets/fonts/Pretendard-ExtraLight.ttf") }
@font-face { font-family:"pretendard"; src:url("../assets/fonts/Pretendard-ExtraLight.woff") }

@font-face { font-family:"pretendard"; src:url("../assets/fonts/Pretendard-Light.ttf") }
@font-face { font-family:"pretendard"; src:url("../assets/fonts/Pretendard-Light.woff") }

@font-face { font-family:"pretendard"; src:url("../assets/fonts/Pretendard-Medium.ttf"); font-weight: 500; }
@font-face { font-family:"pretendard"; src:url("../assets/fonts/Pretendard-Medium.woff"); font-weight: 500; }

@font-face { font-family:"Pretendard"; src:url("../assets/fonts/Pretendard-Regular.ttf"); font-weight: 400; }
@font-face { font-family:"Pretendard"; src:url("../assets/fonts/Pretendard-Regular.woff"); font-weight: 400; }

@font-face { font-family:"pretendard"; src:url("../assets/fonts/Pretendard-SemiBold.ttf"); font-weight: 600; }
@font-face { font-family:"pretendard"; src:url("../assets/fonts/Pretendard-SemiBold.woff"); font-weight: 600; }

@font-face { font-family:"pretendard"; src:url("../assets/fonts/Pretendard-Thin.ttf") }
@font-face { font-family:"pretendard"; src:url("../assets/fonts/Pretendard-Thin.woff") }
/* 웹폰트 CSS end */